.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.loan-parameter{
  background-color:#e91e6314;
}
.card{
  border-color:rgba(0, 0, 0, 0.09);
}
.card-header{
  border-bottom:none;
}
.input-group-text{
  font-size: 14px;
  font-weight: bold;
}
.card-body{
  padding: 2.25rem;
}
.calculate-btn button{
  margin: 0 auto;
}
.rounded-image{
  width:300px;
  margin:0 auto;
  display: flex;
  align-items:center;
  justify-content: center;
}